importing our libraries

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Loading out datasets

In [2]:
df = pd.read_csv('/content/fuel_ferc1.csv')
# reading our first five columns
df.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

Dataset exploration

In [3]:
# checking information from the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [4]:
# determining the shape of our dataset
df.shape

(29523, 11)

In [5]:
# checking the columns in my dataset
df.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

DATA CLEANING

In [14]:
# checking for null values
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [21]:
index = df.index
number_of_rows = len(index)


print(number_of_rows)

29523

In [7]:
# dropping duplicates
df = df.drop_duplicates()
df.shape

(29523, 11)

DATA ANALYSIS

In [37]:
# Which year has the highest average fuel cost per unit delivered?
mean_data = df['fuel_cost_per_unit_delivered'].groupby([df['report_year']]).mean()
mean_data.rank(ascending=1)

report_year
1994    13.0
1995     2.0
1996    24.0
1997    25.0
1998    19.0
1999     1.0
2000    23.0
2001    11.0
2002     7.0
2003     8.0
2004    16.0
2005     4.0
2006     3.0
2007     5.0
2008     9.0
2009    22.0
2010    14.0
2011    10.0
2012    12.0
2013    17.0
2014    18.0
2015    20.0
2016    15.0
2017     6.0
2018    21.0
Name: fuel_cost_per_unit_delivered, dtype: float64

In [ ]:
# For the fuel type coal, what is the percentage change 
# in the fuel cost per unit burned in 1998 compared to 1994?

In [41]:
# Which of the following fuel type code has the lowest average fuel cost per unit burned?
my_data = df['fuel_cost_per_unit_burned'].groupby([df['fuel_type_code_pudl']]).mean()
my_data.rank(ascending=1)

fuel_type_code_pudl
coal       4.0
gas        1.0
nuclear    6.0
oil        5.0
other      2.0
waste      3.0
Name: fuel_cost_per_unit_burned, dtype: float64

In [39]:
# What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?
df['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [28]:
# What is the skewness and kurtosis for the fuel quantity burned in two decimal places?
df['fuel_qty_burned'].skew()

15.851495469109503

In [29]:
df['fuel_qty_burned'].kurt()

651.3694501337732

In [35]:
# Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?
df.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]